#footer-header {
  display: flex;
  position: sticky;
  bottom: 0dvh;
  flex-direction: row;
  justify-content: space-between;
  border-top: var(--border) solid var(--text);
  background-color: var(--base);
  padding: 0 var(--s-m);
  padding-bottom: var(--s-3xs);

  #theme {
    display: flex;
    column-gap: var(--s-2xs);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    label {
      user-select: none;
    }

    > input {
      margin: 0;
      background-color: var(--muted);
      padding: 0;
      accent-color: var(--iris);
    }
  }
}

#footer-content {
  display: flex;
  flex-direction: column;
  margin: var(--s-m) 0;
  padding: var(--s-3xs) var(--s-m);

  #links {
    display: flex;
    row-gap: var(--s-s);
    flex-direction: column;
    margin-top: var(--s-xs);
    margin-left: var(--s-m);

    a {
      display: flex;
      column-gap: var(--s-2xs);
      flex-direction: row;
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }
}
