#projects {
  #cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--s-m);

    .project-card {
      display: flex;
      flex-direction: column;
      flex: 1 1 400px;
      background: var(--surface);
      padding: var(--s-xs) var(--s-m);

      h3 {
        margin-top: 0;
        color: var(--gold);
        font-size: var(--fs-2);
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        span {
          border: var(--border) solid var(--iris);
          border-radius: var(--fs-0);
          padding: 0 var(--s-m);
          margin: var(--s-3xs);   
        }
      }

      p {
        flex: 1;
        border-bottom: var(--border) solid var(--muted);
        border-top: var(--border) solid var(--muted);
        padding-top: var(--s-m);
        padding-bottom: var(--s-m);
      }
    }
  }
}
