#projects {
  #cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--s-m);

    .project-card {
      display: flex;
      flex: 1 1 400px;
      flex-direction: column;
      border: var(--border) solid var(--muted);
      background: var(--surface);
      padding: var(--s-xs) var(--s-m);

      h3 {
        margin-top: 0;
        margin-bottom: 0;
        color: var(--gold);
        font-size: var(--fs-2);
      }

      .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        span {
          margin: var(--s-3xs);
          border: var(--border) solid var(--iris);
          border-radius: var(--fs--1);
          padding: 0 var(--s-xs);
          font-size: var(--fs--1);
        }
      }

      p {
        flex: 1;
        margin: var(--s-xs) 0;
        border-top: var(--border) solid var(--muted);
        padding-top: var(--s-m);
        padding-bottom: var(--s-m);
      }

      &:has(> .links) {
        p {
          border-bottom: var(--border) solid var(--muted);
        }
      }

      .links {
        display: flex;
        column-gap: var(--s-s);
        flex-direction: row;
        width: 100%;
        min-height: var(--fs-2);
        overflow-x: auto;
      }
    }
  }
}
