#projects {
  #cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--s-m);

    .project-card {
      flex: 1 1 400px;
      background: var(--surface);
      padding: var(--s-xs) var(--s-m);

      h3 {
        margin-top: 0;
        color: var(--gold);
        font-size: var(--fs-2);
      }

      .tags {
        display: flex;
        column-gap: var(--s-2xs);
        row-gap: var(--s-3xs);
        flex-direction: row;
        flex-wrap: wrap;

        span {
          border: var(--border) solid var(--iris);
          border-radius: var(--fs-0);
          padding: 0 var(--s-m);
        }
      }

      p {
        background: var(--overlay);
        padding: var(--s-3xs) var(--s-m);
      }
    }
  }
}
