#tech {
  >p {
    margin-bottom: var(--s-xl);
  }

  #tables {
    display: grid;
    grid-template-areas: "pl" "si" "do" "de" "calc";
    column-gap: var(--s-s);
    row-gap: var(--s-s);

    table {
      tr {
        td {
          span {
            user-select: none;
          }

          input {
            margin: 0;
            padding: 0;
            accent-color: var(--iris);
          }

          &:hover {
            background: var(--highlight-med);
          }
        }
      }
    }

    #languages {
      grid-area: pl;
    }

    #environments {
      grid-area: si;
    }

    #devops {
      grid-area: do;
    }

    #tools {
      grid-area: de;
    }

    #evaluations {
      display: flex;
      row-gap: var(--border);
      grid-area: calc;
      flex-direction: column;
      justify-content: end;
      border: var(--border) solid var(--muted);
      padding: var(--border);

      label {
        padding-left: var(--s-3xs);
        font-style: italic;
        font-size: var(--fs--1);
      }

      #evaluation-descriptions {
        flex: 1;
        border: var(--border) solid var(--muted);
        padding: 0 var(--s-m);
        overflow-y: auto;

        .eval-container {
          padding: var(--s-l) var(--s-xs);

          &:first-of-type {
            padding-top: var(--s-m);
          }

          .eval-title {
            position: sticky;
            top: 0;
            margin: 0;
            background: var(--base);
            color: var(--gold);
            font-size: var(--fs-2);
          }
        }

        .eval-subsection {
          .eval-item-id {
            margin-bottom: 0;
            color: var(--iris);
            font-size: var(--fs-1);
          }

          .eval-item-stats {
            display: flex;
            row-gap: var(--s-3xs);
            flex-direction: column;
            background: var(--surface);
            padding: var(--s-2xs) 0;
          }
        }

        .eval-items {
          display: flex;
          flex-direction: column;

          .eval-stat-card {
            display: flex;
            column-gap: var(--s-xs);
            flex-direction: row;
            justify-content: space-between;
            background: var(--surface);
            padding: 0 var(--s-m);

            .eval-stat-header {
              width: calc(var(--fs-0) * 6);
              font-weight: 300;
            }

            .eval-stat-graph {
              display: none;
              column-gap: var(--s-3xs);
              flex: 1;
              flex-direction: row;
              padding: var(--s-3xs) var(--s-s);

              @media screen and (min-width: 400px) {
                display: flex;
              }

              .indicator {
                flex: 1;
                border: var(--border) solid var(--text);
                background: var(--muted);

                &.on {
                  background: var(--text);
                }
              }
            }

            .eval-stat-value {
              min-width: calc(var(--fs-0) * 2);
              text-align: end;
            }
          }
        }
      }

      #evaluation-actions {
        display: flex;
        flex-direction: row;

        button {
          justify-content: center;
          font-size: var(--fs--1);
          text-align: center;

          &:first-of-type {
            flex: 1;
          }
        }
      }
    }

    @media screen and (min-width: 769px) {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "pl do"
        "pl de"
        "si calc";
    }
  }
}
