#tech {
  > p {
    margin-bottom: var(--s-xl);
  }

  #tables {
    display: grid;
    grid-template-areas: "pl" "si" "do" "de" "calc";
    column-gap: var(--s-s);
    row-gap: var(--s-m);

    table {
      tr {
        td {
          span {
            user-select: none;
          }

          input {
            margin: 0;
            padding: 0;
            accent-color: var(--iris);
          }

          &:hover {
            background: var(--highlight-med);
          }
        }
      }
    }

    #languages {
      grid-area: pl;
    }

    #environments {
      grid-area: si;
    }

    #devops {
      grid-area: do;
    }

    #tools {
      grid-area: de;
    }

    #calculations {
      display: flex;
      row-gap: var(--border);
      grid-area: calc;
      flex-direction: column;
      justify-content: end;
      border: var(--border) solid var(--muted);
      padding: var(--border);
      height: 267.2px;

      label {
        padding-left: var(--s-3xs);
        font-style: italic;
        font-size: var(--fs--1);
      }

      div {
        flex: 1;
        border: var(--border) solid var(--muted);
        padding: var(--s-m);
        overflow-y: auto;

        @media screen and (min-width: 769px) {
          min-height: 0;
        }
      }

      button {
        justify-content: center;
        font-size: var(--fs--1);
        text-align: center;
      }
    }

    @media screen and (min-width: 769px) {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "pl si"
        "pl de"
        "do calc";
    }
  }
}
