#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 1024px) {
    > hgroup {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      z-index: 90;
      background: var(--base);
      padding: max(2vh, 10px) min(5vh, 30px);
      padding-bottom: 0;
      width: 100%;
      text-align: end;

      > h1 {
        margin: 0;
        color: var(--love);
        font-weight: 900;
        font-size: clamp(30px, 7vw, 72px);
        line-height: 100%;
      }

      > h2 {
        margin: 0;
        font-weight: 400;
        font-size: clamp(14px, 4vw, 30px);
      }

      > hr {
        border-bottom: 2px solid var(--text);
        width: 100%;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: min(5vh, 30px);
      box-sizing: border-box;
      padding: min(5vh, 30px) min(5vh, 30px);
      width: 100%;
      scroll-margin-top: 15vh;

      > h3 {
        margin: 0;
        width: 100%;
        color: var(--rose);
        font-weight: 700;
        font-size: clamp(18px, 5vw, 30px);
        line-height: 100%;
        text-decoration: underline;
      }

      > p {
        margin: 0;
        font-size: clamp(14px, 3.2vw, 30px);
      }
    }

    > #background {
      > #dance-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        clip-path: inset(0% 0 0 0 round 0% 0% 50% 0%);
        box-shadow: 0 0 3vw 1vw inset var(--shadow);
        border-radius: 100%;
        background: var(--overlay);
        padding: 0 2%;
        aspect-ratio: 1/1;

        > img {
          filter: drop-shadow(0vw -0.2vh 0.5vw var(--shadow));
          max-width: calc(90vw - 60px);
        }
      }
    }

    > #contact-info {
      position: sticky;
      bottom: 0;
    }
  }

  @media only screen and (min-width: 1024px) {
    > #dance-container {
      display: none;
    }
  }
}
