header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: var(--base);
  padding: 6px 10px;
  height: 5dvh;
  font-weight: 400;
  font-size: min(5vw, 24px);

  nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    z-index: -1;
    backdrop-filter: blur(20px);
    transition-duration: 0.5s;
    transition-property: height, opacity, gap;
    transition-timing-function: ease;
    padding: 30px;
    width: 100dvw;
    height: 0dvh;
    overflow: hidden;

    &.open {
      gap: 2vh;
      opacity: 1;
      height: 100dvh;
    }

    > button {
      border-radius: 1vh;
      background: var(--overlay);
      padding: 12px 8px;
      text-align: start;

      &:active {
        color: var(--foam);
      }
    }
  }

  @media only screen and (max-width: 768px) {
    /* DESKTOP */
  }
}
