header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 100;
  padding: 6px 10px;
  font-size: min(6vw, 24px);

  nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0;
    opacity: 0;
    z-index: -1;
    backdrop-filter: blur(20px);
    transition-duration: 0.5s;
    transition-property: height, opacity, gap;
    transition-timing-function: ease;
    padding: 0 10px;
    width: 100dvw;
    height: 0dvh;
    overflow: hidden;

    &.open {
      gap: 2vh;
      opacity: 1;
      height: 100dvh;
    }

    > button {
      &:active {
        color: var(--foam);
      }
    }
  }

  @media only screen and (max-width: 768px) {
    /* DESKTOP */
  }
}
