#home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
  height: 95dvh;

  @media only screen and (max-width: 1024px) {
    > #profile-container {
      display: flex;
      justify-content: center;
      box-shadow: 0 0 3vw 1vw inset var(--shadow);
      border-radius: 100vh;
      background: var(--overlay);
      padding: 2vh 2vw 0 2vw;
      aspect-ratio: 1/1;
      max-width: 90%;
      max-height: 40vh;
      overflow: hidden;

      > img {
        filter: drop-shadow(0vw -0.5vw 1vw var(--shadow));
        object-fit: contain;
      }
    }

    > hgroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2vh 0;
      text-align: center;

      > h2 {
        font-weight: 500;
        font-size: min(6vw, 30px);
      }

      > h1 {
        margin: 0;
        color: var(--gold);
        font-weight: 900;
        font-size: min(18vw, 80px);
        line-height: 100%;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    flex-direction: row-reverse;
    justify-content: space-around;

    > #profile-container {
      display: flex;
      justify-content: center;
      box-shadow: 0px 0px 10px 5px inset var(--shadow);
      border-radius: 100vh;
      background: var(--overlay);
      padding: 2vh 2vw 0 2vw;
      aspect-ratio: 1/1;
      max-width: 30vw;
      max-height: 50vh;
      overflow: hidden;

      > img {
        filter: drop-shadow(2px 2px 7px var(--shadow))
          drop-shadow(-2px 2px 7px var(--shadow));
        object-fit: contain;
      }
    }

    > hgroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2vh 0;
      text-align: center;

      > h2 {
        font-weight: 500;
        font-size: clamp(20px, 2.5vw, 60px);
      }

      > h1 {
        margin: 0;
        color: var(--gold);
        font-weight: 900;
        font-size: clamp(60px, 7vw, 200px);
        line-height: 100%;
      }
    }
  }
}
