@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--gold);
  }
}

#home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
  height: 95dvh;

  > #profile {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px 5px inset var(--highlight-high);
    border-radius: 100vh;
    background: var(--overlay);
    padding: 2vh 2vw 0 2vw;
    aspect-ratio: 1/1;
    max-width: 90%;
    max-height: 50vh;
    overflow: hidden;

    > img {
      object-fit: contain;
    }
  }

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    > hgroup {
      padding: 2vh 0;

      > p {
        margin: 0;
        color: var(--foam);
        font-weight: 400;
        font-size: min(6vw, 30px);
      }

      > h1 {
        margin: 0;
        color: var(--gold);
        font-weight: 900;
        font-size: min(18vw, 80px);
      }
    }

    #typing-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: min(5vw, 24px);

      #typing-text {
        display: flex;
        animation: blink-caret 0.75s step-end infinite;
        margin: 0;
        border-right: 2px solid var(--gold);
        padding: 0;
        min-height: 1em;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    /* DESKTOP */
  }
}
