header {
  padding: 1vh 2vw;
  font-size: 18px;

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: min(2vw, 10px);

    a {
      margin: 0;
      padding: 0;
      user-select: none;

      span {
        margin: 0 min(1vw, 6px);
      }

      &:hover span {
        background: var(--highlight-high);
      }
    }

    #theme-btn {
      span:nth-child(1) {
        margin-right: 0;
      }

      span:nth-child(2) {
        margin-left: 0;
      }
    }
  }
}
