@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --base: #faf4ed;
  --surface: #fffaf3;
  --overlay: #f2e9e1;
  --muted: #9893a5;
  --subtle: #797593;
  --text: #575279;
  --love: #b4637a;
  --gold: #ea9d34;
  --rose: #d7827e;
  --pine: #286983;
  --foam: #56949f;
  --iris: #907aa9;
  --highlight-low: #f4ede8;
  --highlight-med: #dfdad9;
  --highlight-high: #cecacd;

  /* FONT-SIZES */
  --fs-sm: clamp(1rem, -0.13vi + 1.03rem, 0.93rem);
  --fs-base: clamp(1.13rem, 0.68vi + 0.95rem, 1.5rem);
  --fs-md: clamp(1.27rem, 2.11vi + 0.74rem, 2.43rem);
  --fs-lg: clamp(1.42rem, 4.55vi + 0.29rem, 3.93rem);
  --fs-xl: clamp(1.6rem, 8.64vi + -0.56rem, 6.35rem);
  --fs-xxl: clamp(1.8rem, 15.42vi + -2.05rem, 10.28rem);
  --fs-xxxl: clamp(2.03rem, 26.56vi + -4.61rem, 16.63rem);
}

[theme="dark"] {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
  --highlight-low: #21202e;
  --highlight-med: #403d52;
  --highlight-high: #524f67;
}

* {
  box-sizing: border-box;
  outline: none;
  border: none;
  background: none;
  color: var(--text);
  font-weight: inherit;
  font-size: inherit;
  font-family: "JetBrains Mono", monospace;
}

html,
body {
  margin: 0;
  background-color: var(--base);
}
