@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

:root {
  --base: #faf4ed;
  --surface: #fffaf3;
  --overlay: #f2e9e1;
  --muted: #9893a5;
  --subtle: #797593;
  --text: #575279;
  --love: #b4637a;
  --gold: #ea9d34;
  --rose: #d7827e;
  --pine: #286983;
  --foam: #56949f;
  --iris: #907aa9;
  --highlight-low: #f4ede8;
  --highlight-med: #dfdad9;
  --highlight-high: #cecacd;

  --fs--2: clamp(0.7813rem, 0.7107rem + 0.3527cqi, 0.88rem);
  --fs--1: clamp(0.9375rem, 0.8214rem + 0.5804cqi, 1.1rem);
  --fs-0: clamp(1.125rem, 0.9464rem + 0.8929cqi, 1.375rem);
  --fs-1: clamp(1.35rem, 1.0866rem + 1.317cqi, 1.7188rem);
  --fs-2: clamp(1.62rem, 1.2425rem + 1.8873cqi, 2.1484rem);
  --fs-3: clamp(1.944rem, 1.4143rem + 2.6484cqi, 2.6855rem);
  --fs-4: clamp(2.3328rem, 1.6013rem + 3.6576cqi, 3.3569rem);
  --fs-5: clamp(2.7994rem, 1.8016rem + 4.9886cqi, 4.1962rem);
  --space-3xs: clamp(0.3125rem, 0.2679rem + 0.2232vi, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.4732rem + 0.4464vi, 0.6875rem);
  --space-xs: clamp(0.875rem, 0.7411rem + 0.6696vi, 1.0625rem);
  --space-s: clamp(1.125rem, 0.9464rem + 0.8929vi, 1.375rem);
  --space-m: clamp(1.6875rem, 1.4196rem + 1.3393vi, 2.0625rem);
  --space-l: clamp(2.25rem, 1.8929rem + 1.7857vi, 2.75rem);
  --space-xl: clamp(3.375rem, 2.8393rem + 2.6786vi, 4.125rem);
  --space-2xl: clamp(4.5rem, 3.7857rem + 3.5714vi, 5.5rem);
  --space-3xl: clamp(6.75rem, 5.6786rem + 5.3571vi, 8.25rem);
  --border-size: clamp(0.125rem, 0.0357rem + 0.4464vi, 0.25rem);

  --scroll-top: 0px;

  @media screen and (min-width: 769px) {
    --fs--2: clamp(0.6944rem, 0.4824rem + 0.4418vi, 0.88rem);
    --fs--1: clamp(0.8333rem, 0.5286rem + 0.6349vi, 1.1rem);
    --fs-0: clamp(1rem, 0.5714rem + 0.8929vi, 1.375rem);
    --fs-1: clamp(1.2rem, 0.6071rem + 1.2351vi, 1.7188rem);
    --fs-2: clamp(1.44rem, 0.6304rem + 1.6868vi, 2.1484rem);
    --fs-3: clamp(1.728rem, 0.6337rem + 2.2799vi, 2.6855rem);
    --fs-4: clamp(2.0736rem, 0.6069rem + 3.0556vi, 3.3569rem);
    --fs-5: clamp(2.4883rem, 0.5365rem + 4.0663vi, 4.1962rem);
    --space-3xs: clamp(0.25rem, 0.1071rem + 0.2976vi, 0.375rem);
    --space-2xs: clamp(0.5rem, 0.2143rem + 0.5952vi, 0.75rem);
    --space-xs: clamp(0.75rem, 0.3214rem + 0.8929vi, 1.125rem);
    --space-s: clamp(1rem, 0.4286rem + 1.1905vi, 1.5rem);
    --space-m: clamp(1.5rem, 0.6429rem + 1.7857vi, 2.25rem);
    --space-l: clamp(2rem, 0.8571rem + 2.381vi, 3rem);
    --space-xl: clamp(3rem, 1.2857rem + 3.5714vi, 4.5rem);
    --space-2xl: clamp(4rem, 1.7143rem + 4.7619vi, 6rem);
    --space-3xl: clamp(6rem, 2.5714rem + 7.1429vi, 9rem);
    --border-size: clamp(0.125rem, -0.0179rem + 0.2976vi, 0.25rem);
  }
}

[theme="dark"] {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
  --highlight-low: #21202e;
  --highlight-med: #403d52;
  --highlight-high: #524f67;
}

* {
  box-sizing: border-box;
  scroll-margin-top: var(--scroll-top);
  color: inherit;
  font-size: inherit;
  font-family: "Inconsolata", monospace;
}

*::selection {
  background: var(--gold);
  color: var(--base);
}

*::-webkit-scrollbar {
  display: none;
}

html {
  margin: 0;
  background: var(--base);
  scroll-behavior: smooth;

  @media screen and (min-width: 1441px) {
    padding: 0 calc((100vw - 1440px) / 2);
  }
}

body {
  position: relative;
  margin: 0;
  background: var(--surface);
  min-height: 100dvh;
  color: var(--text);

  @media screen and (min-width: 1441px) {
    border: var(--border-size) solid var(--overlay);
    border-radius: var(--border-size);
  }
}

input[type="checkbox"] {
  margin: 0;
  accent-color: var(--base);

  &:hover,
  &:active {
    accent-color: var(--gold);
  }
}

header {
  position: sticky;
  top: 0dvh;
  z-index: 100;
  background: var(--overlay);
  padding: var(--space-3xs) var(--space-m);
  font-size: var(--fs-1);

  a {
    display: inline-flex;
    column-gap: var(--space-3xs);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    &:hover,
    &:active {
      color: var(--gold) !important;
    }
  }

  #logo {
    text-decoration: underline;

    @media screen and (min-width: 769px) {
      cursor: default;
      pointer-events: none;
      text-decoration: none;
    }
  }

  >nav {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    row-gap: var(--space-xs);
    flex-direction: column;
    align-items: start;
    z-index: -1;
    backdrop-filter: blur(20px);
    transition-duration: 0.2s;
    transition-property: height padding border;
    transition-timing-function: ease;
    border-radius: 0 var(--border-size) var(--border-size) 0;
    padding: 0 var(--space-m);
    padding-right: var(--space-3xl);
    width: 100%;
    height: 0;
    overflow: hidden;

    &.open {
      padding: var(--space-s) var(--space-m);
      padding-right: var(--space-3xl);
      height: calc(100dvh - var(--scroll-top));
    }

    >a:last-of-type {
      position: absolute;
      bottom: var(--space-m);
    }
  }

  @media screen and (min-width: 769px) {
    font-size: var(--fs-0);

    >nav {
      all: unset;
      display: inline-flex;
      column-gap: var(--space-s);
      padding-left: var(--space-m);

      >a {
        >i {
          margin: 0 var(--border-size);
        }
      }

      >a:last-of-type {
        position: static;
        bottom: initial;
      }
    }
  }
}

footer {
  display: flex;
  position: sticky;
  bottom: 0dvh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--overlay);
  padding: var(--border-size) var(--space-m);
  width: 100%;
  font-size: var(--fs--1);

  >div {
    display: flex;
    column-gap: var(--space-3xs);
    flex-direction: row;
  }
}

main {
  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-m);
    font-size: var(--fs-0);
  }

  @media screen and (min-width: 769px) {
    >div {
      min-height: calc(100dvh - var(--scroll-top));
    }
  }
}

img {
  display: block;
  transform: scale(0.95);
  transform-origin: bottom center;
  margin: auto auto;
  max-width: 100%;
  max-height: 50dvh;

  &:hover {
    transform: scale(1);
  }
}

table {
  border: 1px solid var(--text);
  width: 100%;
  font-size: var(--fs-0);

  >caption {
    padding-bottom: var(--space-m);

    >h5 {
      margin: 0 var(--space-xs);
      font-size: var(--fs-2);

      &:first-of-type {
        font-weight: 900;
        font-size: var(--fs-3);
      }

      &:last-of-type {
        color: var(--subtle);
      }
    }
  }

  >thead {
    >tr {
      >th {
        position: relative;
        border: 1px solid var(--text);
        padding-right: var(--space-m);
        padding-left: var(--space-3xs);
        font-weight: 900;
        text-align: start;

        &:last-of-type {
          >i {
            position: absolute;
            top: 50%;
            right: var(--space-3xs);
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  >tbody {
    position: relative;

    >tr {
      >td {
        vertical-align: top;
        border: 1px solid var(--text);
        padding: 0 var(--space-3xs);
        overflow: hidden;
        font-weight: 400;
        text-align: start;

        >.side {
          position: absolute;
          top: 102%;
          left: 50%;
          transform: translateX(-50%);
          visibility: hidden;
          width: max-content;
        }

        >div {
          >span {
            >.no-hover {
              color: var(--iris);
            }
          }
        }
      }

      figcaption {
        display: none;
        background: var(--base);
        text-align: center;
      }

      &:hover,
      &:active {
        >td {
          >.side {
            visibility: visible;
          }

          >img {
            transform: scale(1);
          }

          >div {
            >span {
              display: block;
              padding: var(--space-s) var(--space-m);
              color: var(--text);

              >.no-hover {
                display: none;
              }
            }
          }
        }

        figcaption {
          display: block;
        }
      }
    }
  }
}

#home-section {
  >table {
    @media screen and (min-width: 769px) {
      max-width: min(70%, 700px);
    }

    >thead {
      >tr {
        >th {
          background-color: var(--gold);
          color: var(--base);
        }
      }
    }

    >tbody {
      >tr {

        &:hover,
        &:active {
          color: var(--gold);

          >td>img {
            filter: drop-shadow(0 0 var(--space-3xs) var(--gold));
          }
        }
      }
    }
  }
}

#about-section {
  >table {
    >thead {
      >tr {
        >th {
          background-color: var(--overlay);

          &:first-of-type {
            display: none;
            padding-right: var(--space-m);
          }
        }
      }
    }

    >tbody {
      >tr {
        >td {
          &:first-of-type {
            display: none;
            padding-right: var(--space-m);
          }
        }

        &:hover,
        &:active {
          color: var(--gold);

          >td {
            >img {
              clip-path: rect(-10% 110% 100% -10%);
              filter: drop-shadow(0 0 var(--space-3xs) var(--gold));
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 769px) {
    >table {
      >thead {
        >tr {
          >th {
            &:first-of-type {
              display: table-cell;
            }
          }
        }
      }

      >tbody {
        >tr {
          >td {
            &:first-of-type {
              display: table-cell;
            }

            .mobile-only {
              display: none;
            }
          }
        }
      }
    }
  }
}
