nav {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  height: 7vh;
  font-size: min(5vw, 24px);

  span {
    display: flex;
    flex-direction: row;
    user-select: none;

    span:nth-child(1) {
      margin-right: 10px;
      color: var(--foam);
    }

    span:nth-child(2) {
      color: var(--gold);
    }

    span:nth-child(3) {
      color: var(--love);
    }
  }

  #menu-btn {
    border-radius: 1vh;
    padding: 1vh;
  }

  #floating-nav {
    display: flex;
    position: fixed;
    top: 7vh;
    left: 0;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2vh;
    backdrop-filter: blur(2px);
    transition:
      height 200ms ease,
      padding 200ms ease;
    background: transparent;
    padding: 0;
    padding: 0vh 4vw;
    width: 100%;
    height: 0;
    overflow: hidden;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: min(4vw, 10px);
      padding: min(0.5vh, 4px) min(1vw, 6px);
    }
  }

  #menu-btn.open + #floating-nav {
    padding: 4vh 4vw;
    height: initial;
  }

  #theme-btn {
    display: flex;
    flex-direction: row;
    gap: min(4vw, 10px);
    margin-top: 10vh;
    padding: min(0.5vh, 4px) min(1vw, 6px);
  }
}
