@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

:root {
  --oxford-blue: #102542ff;
  --bittersweet: #f87060ff;
  --platinum: #cdd7d6ff;
  --khaki: #b3a394ff;
  --white: #ffffffff;
}

* {
  box-sizing: border-box;
  color: var(--oxford-blue);
  font-size: 10pt;
  font-family: "M PLUS 1 Code", monospace;
}

html,
body {
  margin: 10mm calc((100vw - 210mm) / 4);
}

body {
  display: flex;
  flex-direction: column;
  border: 1pt solid var(--oxford-blue);
  background-color: var(--white);
  width: 210mm;
  height: 297mm;
}

h1 {
  margin: 0;
  font-size: 32pt;
}

h2 {
  margin: 0;
  font-size: 24pt;
  font-weight: normal;
}

h3 {
  margin: 0 0 2mm 0;
  color: var(--bittersweet);
  font-size: 18pt;
}

p {
  margin: 0;
}

header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2mm;
  height: 100pt;

  h1 {
    border: 3pt solid var(--oxford-blue);
    background-color: var(--white);

    span {
      padding: 2mm;
      font-size: inherit;

      &:last-of-type {
        color: var(--bittersweet);
      }
    }
  }

  #box {
    position: absolute;
    bottom: 0;
    z-index: -1;
    background-color: var(--khaki);
    width: 100%;
    height: 65%;
  }

  #title {
    margin-top: 3mm;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #profile {
    height: 100%;
    filter: drop-shadow(1mm 1mm 2mm var(--oxford-blue));
    clip-path: polygon(-100%-100%, 200%-100%, 200%100%, -100%100%)
  }
}

main {
  display: flex;
  flex-direction: row;
  padding: 5mm;
  height: 100%;
}

#sidebar {
  padding-right: 5mm;
  flex: 3;
  border-right: 1pt solid var(--oxford-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    column-gap: 2mm;
  }
}

#skills {
  p {
    display: flex;
    flex-direction: row;
    column-gap: 2mm;
    margin: 0;
  }

  .heading {
    text-decoration: underline;
  }
}

#content {
  padding-left: 5mm;
  flex: 7;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  html,
  body {
    margin: 0;
  }
}