@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

:root {
  --periwinkle: #d4dcffff;
  --turquoise: #2de1c2ff;
  --azure: #007fffff;
  --light-coral: #ee7674ff;
  --chocolate-cosmos: #590925ff;
}

* {
  box-sizing: border-box;
  color: black;
  font-size: 10pt;
  font-family: "M PLUS 1 Code";
}

@page {
  size: A4;
  margin: 0;
}

html,
body {
  margin: 10mm calc((100vw - 210mm) / 4);
}

body {
  display: flex;
  flex-direction: column;
  border: 1pt solid black;
  padding: 5mm 0;
  width: 210mm;
  height: 297mm;
}

header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  max-height: 120pt;

  #box {
    position: absolute;
    bottom: 0;
    z-index: -1;
    background: var(--periwinkle);
    width: 100%;
    height: 70%;
  }

  #title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 0;
      border: 3pt solid var(--azure);
      background: white;
      padding: 2mm;

      span {
        font-weight: bold;
        font-size: 40pt;

        &:first-of-type {
          font-weight: lighter;
        }

        &:last-of-type {
          color: var(--azure);
        }
      }
    }

    h2 {
      margin: 2mm;
      font-weight: normal;
      font-size: 24pt;
    }
  }

  #profile {
    max-height: 100%;
  }
}

main {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-areas: "sidebar content";
  flex-grow: 1;
  padding: 5mm;

  #sidebar {
    grid-area: sidebar;
  }

  #content {
    grid-area: content;
  }
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-right: 1pt solid black;
  padding: 0 5mm;

  * {
    text-align: right;
  }

  h3 {
    margin: 0 0 2mm 0;
    font-weight: bold;
    font-size: 20pt;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: end;

    a {
      display: flex;
      column-gap: 5mm;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
  }

  #skills {
    ul {
      padding: 0;
      list-style-type: square;
      list-style-position: inside;
      direction: rtl;

      pre {
        display: inline-block;
        margin: 0;
      }
    }
  }
}

#content {}

@media print {

  html,
  body {
    margin: 0;
  }
}
