@import url("../../modules/global.css");

hgroup {
  justify-content: end;
  text-align: end;
}

main h2 {
  font-weight: 100;
  font-size: 40px;
}

search {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2px;
}

search>input {
  flex: 1;
  border: none;
  border-bottom: 2px solid var(--text);
  background: transparent;
  padding: 1vh 2vw 0.5vh 4vw;
  font-size: 20px;
}

search>button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 2px solid var(--text);
  border-left: 2px solid var(--text);
  background: transparent;
  padding: 5px;
  min-width: 5vw;
  font-size: 20px;
}

search>button>i {
  color: var(--text);
}

main {
  padding: 2vh 2vw;
}
