*::-webkit-input-placeholder {
  color: var(--text);
  font-weight: 300;
}

*::-webkit-scrollbar {
  width: 0.7vw;
}

*::-webkit-scrollbar-track {
  background: var(--highlight-low);
}

*::-webkit-scrollbar-thumb {
  background: var(--highlight-high);
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  background: linear-gradient(225deg, var(--base) 10%, var(--love) 200%);
  background-size: 100vw 100%;
  min-height: 100vh;
}

section {
  min-height: 100vh;
}

.mobile {
  display: none;
}

.web {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .mobile {
    display: flex;
  }

  .web {
    display: none;
  }
}

/* -------------------------------
 * BUTTON HOVER ANIMATION
 -------------------------------*/
button {
  border: none;
  background: none;
  padding: 1px 6px;

  &:hover {
    background: var(--overlay);

    > * {
      color: var(--foam) !important;
    }

    > span:last-of-type {
      background: var(--text);
      color: var(--base) !important;
    }
  }
}
