*::-webkit-input-placeholder {
  color: var(--text);
  font-weight: 300;
}

*::-webkit-scrollbar {
  width: 0.7vw;
}

*::-webkit-scrollbar-track {
  background: var(--highlight-low);
}

*::-webkit-scrollbar-thumb {
  background: var(--highlight-high);
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--base);
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  min-height: 100vh;
}
