*::-webkit-input-placeholder {
  color: var(--text);
  font-weight: 300;
}

*::-webkit-scrollbar {
  width: 0.7vw;
}

*::-webkit-scrollbar-track {
  background: var(--highlight-low);
}

*::-webkit-scrollbar-thumb {
  background: var(--highlight-high);
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(30deg, var(--gold) -200%, var(--base) 100%);
  background-size: 100vw 100%;
  min-height: 100vh;
}

main,
section {
  min-height: 100vh;
}

/* -------------------------------
 * BUTTON HOVER ANIMATION
 -------------------------------*/
button {
  border: none;
  background: none;

  &:hover {
    > * {
      color: var(--foam);
    }

    > span:last-of-type {
      background: var(--text);
      color: var(--base);
    }
  }
}
