header {
  display: flex;
  position: sticky;
  top: 8px;
  flex-direction: row;
  align-items: start;
  z-index: 100;
  margin: 0 8px 8px 8px;
  border: 2px solid var(--iris);
  border-top: 20px solid var(--iris);
  border-radius: 8px;
  background: var(--base);
  overflow: hidden;
  font-size: 18px;
  font-family: "JetBrains Mono", monospace;

  div {
    display: flex;
    flex-direction: row;
    font-size: inherit;
    font-family: inherit;
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: transparent;
    padding: 10px;
    font-size: inherit;
    font-family: inherit;
  }

  button:hover {
    transition: background 0.2s ease-in;
    background: var(--highlight-med);
  }

  #home {
    flex: 1;
    font-family: inherit;

    >button {
      >span:nth-child(1) {
        margin-right: 10px;
        color: var(--foam);
        font-family: inherit;
      }

      >span:nth-child(2) {
        color: var(--gold);
        font-family: inherit;
      }

      >i {
        transition: rotate 0.2s ease;
        color: var(--love);
        font-size: 0.8rem;
      }
    }
  }

  #pages {
    align-items: center;

    button {
      gap: 8px;

      >i {
        color: inherit;
        font-size: inherit;
      }

      >span {
        color: inherit;
        font-size: inherit;
        font-family: inherit;
      }
    }

    >span {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;

    #home {
      width: 100%;

      >button {
        width: 100%;
      }
    }

    #pages {
      display: none;
      flex-direction: column;
      align-items: start;
      gap: 0;
      width: 100%;

      >button {
        width: 100%;
      }

      >span {
        display: none;
      }
    }
  }
}
