header {
  display: flex;
  top: 0;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  padding: 10px;
  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 20px);

  * {
    font-weight: inherit;
    font-size: inherit;
  }

  .mobile {
    display: none;
  }

  .web {
    display: flex;
  }

  button {
    display: flex;
  }

  > #logo {
    border: 2px solid var(--iris);
    border-top: 12px solid var(--iris);
    border-radius: 0.2em;

    > span:nth-child(1) {
      margin-right: 1vw;
      color: var(--foam);
    }

    > span:nth-child(2) {
      margin-right: 6px;
      color: var(--gold);
    }

    > span:nth-child(3) {
      color: var(--love);
    }
  }

  #interactions {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1vw;

    > nav {
      gap: 8px;
      padding-top: 12px;

      > label {
        margin: 0;
        color: var(--love);
        font-weight: 700;
      }
    }

    > i {
      padding-top: 12px;

      &:hover {
        color: var(--gold);
      }
    }
  }

  @media screen and (max-width: 600px) {
    font-size: clamp(14px, 4vw, 30px);

    .mobile {
      display: flex;
    }

    .web {
      display: none;
    }

    #logo {
      > span:nth-child(1) {
        margin-right: 2vw;
      }
    }

    #interactions {
      gap: 4vw;

      > i {
        font-size: clamp(14px, 5vw, 35px);
      }

      > nav {
        > button {
          padding: 0;
        }
      }
    }
  }
}
