#home-section {
  .card {
    display: flex;
    flex-direction: row;
    border-radius: 2vh;
    background: var(--surface);
    width: 90%;
    height: 70vh;
    overflow: hidden;
  }

  #title {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    padding: 0vh 4vw;
    max-height: 100%;
  }

  #title>h1 {
    margin: 0;
    font-weight: 800;
    font-size: 8vh;
  }

  #title>h2 {
    margin: 0;
    font-weight: 300;
    font-size: 4vh;
  }

  #profile-container {
    position: relative;
    flex: 2;
    height: 100%;
  }

  #profile-container>i {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transition:
      font-size 0.5s ease,
      top 0.5s ease,
      left 0.5s ease;
    font-size: 0vh;
  }

  #profile-png {
    position: absolute;
    right: 5%;
    bottom: 0;
    z-index: 100;
    max-width: 100%;
    max-height: 95%;
  }

  #tags {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 90%;
  }

  #tags>div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border-radius: 2vh;
    padding: 1vh 0vw;
    height: 10vh;
  }

  #tags>div>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 1vw;
  }

  #tags i {
    font-size: 5vh;
  }

  #tags span {
    font-weight: 800;
    font-size: 2vh;
  }
}
