@media (prefers-color-scheme: light) {
  .comment > h1 {
    color: #e64553;
    font-weight: bold;
    font-size: 2rem;
  }
  .comment > h2 {
    color: #df8e1d;
    font-weight: bold;
    font-size: 1.85rem;
  }
  .comment > h3 {
    color: #40a02b;
    font-weight: bold;
    font-size: 1.75rem;
  }
  .comment > h4 {
    color: #209fb5;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .comment > p {
    font-size: 1rem;
    font-weight: 300;
  }
}

@media (prefers-color-scheme: dark) {
  .comment > h1 {
    color: #eba0ac;
    font-weight: bold;
    font-size: 2rem;
  }
  .comment > h2 {
    color: #f9e2af;
    font-weight: bold;
    font-size: 1.85rem;
  }
  .comment > h3 {
    color: #a6e3a1;
    font-weight: bold;
    font-size: 1.75rem;
  }
  .comment > h4 {
    color: #74c7ec;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .comment > p {
    font-size: 1rem;
    font-weight: 300;
  }
}
