@media (prefers-color-scheme: light) {
  .comment > h1 {
    color: #e64553;
  }
  .comment > h2 {
    color: #df8e1d;
  }
  .comment > h3 {
    color: #40a02b;
  }
  .comment > h4 {
    color: #209fb5;
  }
}

@media (prefers-color-scheme: dark) {
  .comment > h1 {
    color: #eba0ac;
  }
  .comment > h2 {
    color: #f9e2af;
  }
  .comment > h3 {
    color: #a6e3a1;
  }
  .comment > h4 {
    color: #74c7ec;
  }
}

.comment > h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.comment > h2 {
  font-weight: bold;
  font-size: 1rem;
}
.comment > h3 {
  font-weight: bold;
  font-size: 1rem;
}
.comment > h4 {
  font-weight: bold;
  font-size: 0.95rem;
}
.comment > p {
  font-size: 0.9rem;
  font-weight: 300;
}

@media (min-width: 1280px) {
  .comment > h1 {
    font-size: 2rem;
  }
  .comment > h2 {
    font-size: 1.85rem;
  }
  .comment > h3 {
    font-size: 1.75rem;
  }
  .comment > h4 {
    font-size: 1.5rem;
  }
  .comment > p {
    font-size: 1rem;
  }
}
