header {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: var(--border-size) solid var(--text);
  background: var(--base);

  > nav {
    display: flex;

    > button {
      border: var(--border-size) solid var(--gold);
      padding: 0 var(--space-xs);

      &:hover {
        border-color: var(--highlight-high);
        color: var(--foam);
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: var(--space-xs) var(--space-m);
    font-size: var(--fs-1);

    > nav {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 0;
      opacity: 0;
      z-index: -1;
      backdrop-filter: blur(20px);
      transition-duration: 0.75s;
      transition-property: height, opacity, gap;
      transition-timing-function: ease;
      width: 100vw;
      height: 0;

      &.open {
        gap: var(--space-xs);
        opacity: 1;
        height: 100vh;
      }

      > button {
        border-radius: var(--fs-1);
      }
    }
  }

  @media screen and (min-width: 769px) {
    padding: var(--space-2xs) var(--space-m);
    font-size: var(--fs-0);

    > nav {
      flex-direction: row;
      gap: var(--space-s);

      > button {
        border-radius: var(--fs-0);
      }
    }

    > div {
      #menu-btn {
        display: none;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    padding: var(--space-2xs) calc(((100vw - 1440px) / 4) + var(--space-m));
  }
}
