#home-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  >#profile-container {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 var(--fs-0) 0 inset var(--shadow);
    border-radius: 100vh;
    background: var(--overlay);
    padding: var(--space-m) 0 0 0;
    aspect-ratio: 1/1;
    overflow: hidden;

    >img {
      filter: drop-shadow(var(--border-size) 0 calc(var(--border-size) * 2) var(--shadow));
      object-fit: contain;
    }
  }

  >#title {
    >hgroup {
      display: flex;
      flex-direction: column;
      align-items: center;

      >h1 {
        margin: 0;
        color: var(--gold);
        font-weight: 900;
        font-size: var(--fs-title);
        line-height: 100%;
      }

      >h2 {
        font-size: var(--fs-1);
        line-height: 100%;
      }
    }

    >#home-shortcuts {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: var(--space-xs);

      >a {
        font-size: var(--fs-0);
        user-select: none;
        text-decoration: none;

        &:hover,
        &:active {
          color: var(--foam);

          * {
            color: var(--foam);
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: var(--space-m);
    padding: var(--space-xl) 0;

    >#profile-container {
      max-width: 90vw;
      max-height: 50vh;
    }
  }

  @media screen and (min-width: 769px) {
    flex-direction: row;
    height: calc(100vh - var(--fs-0) - var(--space-m));

    >#profile-container {
      max-width: 50vw;
      max-height: 60vh;
    }
  }
}
