/*FONT: JetBrainsMono*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

:root {
  --tomato: #f06449ff;
  --isabelline: #ede6e3ff;
  --platinum: #dadad9ff;
  --black-olive: #36382eff;
  --vivid-sky-blue: #5bc3ebff;

  --btn-font-size: 16px;
  --text-font-size: 14px;
}

/* Default Values */
* {
  outline: none;
  color: var(--black-olive);
  font-family: "Roboto", sans-serif;
}

*::-webkit-input-placeholder {
  color: var(--black-olive);
  font-weight: 300;
}

*::-webkit-scrollbar {
  width: 1vw;
}

*::-webkit-scrollbar-track {
  background: var(--black-olive);
}

*::-webkit-scrollbar-thumb {
  background: var(--platinum);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--isabelline);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

button:hover {
  transition:
    color 0.2s ease,
    background 0.2s ease;
  background: var(--tomato);
  color: var(--isabelline);
}

button:hover * {
  transition: color 0.2s ease;
  color: var(--isabelline);
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50vw;
  height: 100vh;
}

hgroup {
  border-bottom: 2px solid var(--black-olive);
  padding: 2vh 2vw;
}

hgroup>h1 {
  margin: 0;
  font-weight: 800;
  font-size: 80px;
}

hgroup>h2 {
  margin: 0;
  font-weight: 300;
  font-size: 40px;
}

search {
  display: flex;
  gap: 2px;
}

search>input {
  flex: 1;
  border: none;
  border-radius: 0 5px 5px 0;
  background: var(--platinum);
  padding: 0.5vh 2vw;
  font-size: 24px;
}

search>button {
  clip-path: polygon(0%0%, 90%0%, 100%50%, 90%100%, 0%100%);
  border: none;
  border-radius: 5px;
  background: var(--platinum);
  padding: 5px;
  min-width: 60px;
  font-size: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15vh;
}

nav>button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  clip-path: polygon(0%0%, 98%0%, 100%50%, 98%100%, 0%100%);
  border: none;
  background: var(--vivid-sky-blue);
  padding: 5px 20px;
  width: 25vw;
  font-weight: 300;
  font-size: 24px;
}

#me-img {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40vw;
  height: 100vh;
}

#me-img>#logos {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

#me-img>#logos>img {
  position: absolute;
  border-radius: 100vh;
  height: 10vh;
}

#me-img>img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 40vw;
  max-height: 100vh;
}
