/*FONT: JetBrainsMono*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import url("./modules/mobile.css");

:root {
  --snow: #fbf5f3ff;
  --snowish: #fbf5f399;
  --fulvous: #e28413ff;
  --oxford-blue: #000022ff;
  --oxford-blueish: #00002299;
  --rusty-red: #de3c4bff;
  --cardinal: #c42847ff;

  --btn-font-size: 16px;
  --text-font-size: 14px;
}

/* Default Values */
* {
  outline: none;
  color: var(--snow);
  font-family: "Roboto", sans-serif;
}

*::-webkit-input-placeholder {
  color: var(--snowish);
}

*::-webkit-scrollbar {
  width: 1vw;
}

*::-webkit-scrollbar-track {
  background: var(--snow);
}

*::-webkit-scrollbar-thumb {
  background: var(--fulvous);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--oxford-blue);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header button {
  border: none;
  border-bottom: 2px solid var(--snowish) !important;
}

header button:hover {
  transition:
    color 0.4s ease,
    border-bottom 0.4s ease;
  border-bottom: 2px solid transparent !important;
  color: var(--oxford-blue);
}

header button:hover * {
  transition: color 0.4s ease;
  color: var(--oxford-blue);
}

header > hgroup {
  display: flex;
  position: absolute;
  top: 20px;
  right: 0;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  border-radius: 100vh 0 0 100vh;
  background: var(--cardinal);
  padding: 2vh 5vw;
  width: 60vw;
}

header > hgroup > h1 {
  margin: 0;
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
}

header > hgroup > h2 {
  margin: 0;
  font-weight: 300;
  font-size: 28px;
  line-height: 28px;
}

header > search {
  display: flex;
  position: absolute;
  top: 160px;
  right: 0;
  flex-direction: row;
  gap: 5px;
  border: none;
  width: 55vw;
  height: 5vh;
}

header > search * {
  border: none;
  background: var(--cardinal);
  font-size: 18px;
}

header > search > input {
  flex: 1;
  border-radius: 100vh 0 0 100vh;
  padding-left: 2vw;
}

header > search > button {
  min-width: 3vw;
}

header > nav {
  display: flex;
  position: absolute;
  top: 40vh;
  right: 0;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

header > nav > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--fulvous);
  padding: 1vh 2vw;
  width: 50vw;
  font-weight: 300;
  font-size: 30px;
  text-align: start;
}

header > nav > button > i {
  padding: 0 2vw;
}

header > #logos {
  display: flex;
  position: absolute;
  bottom: 5vh;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

header > #logos *:hover {
  color: var(--oxford-blue);
}

header > #logos > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--fulvous);
  border-radius: 100vh;
  background: var(--snow);
  width: 80px;
  height: 80px;
}

header > #logos > div > img {
  border-radius: 100vh;
  width: auto;
  height: 80px;
  overflow: hidden;
}

header > #logos > div > button {
  display: flex;
  position: absolute;
  bottom: -10px;
  justify-content: center;
  background: var(--fulvous);
  padding: 0.2vh 0.5vw;
  min-width: 80px;
  color: var(--snow);
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}
