@import url("./modules/theme.css");

:root {
  --btn-font-size: 16px;
  --text-font-size: 14px;
}

/* Default Values */
* {
  outline: none;
  color: rgba(var(--text));
  font-family: "JetBrains Mono", monospace;
}

*::-webkit-scrollbar {
  width: 1vw;
}

*::-webkit-scrollbar-track {
  background: rgba(var(--surface0));
}

*::-webkit-scrollbar-thumb {
  background: rgba(var(--crust));
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(var(--base));
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

img {
  width: 128px;
  height: 128px;
}

button,
input {
  border: 1px solid rgba(var(--text));
  border-radius: 1vh;
  background: rgba(var(--crust));
  padding: 0.4vh 1.5vw;
  font-size: var(--btn-font-size);
}

input::-webkit-input-placeholder {
  color: rgba(var(--text), 0.8);
  font-size: var(--btn-font-size);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
