header {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  border-radius: 2vh;
  background: var(--base);
  padding: 1vh 5%;
  height: 8vh;

  #logo-console {
    display: flex;
    flex-direction: row;
    opacity: 0.8;
    border: 0.1vh solid var(--a2);
    border-top: 1.5vh solid var(--a2);
    border-radius: 1vh;
    background-color: var(--a1);
    padding: 1vh 3vw 1vh 1vw;
  }

  #logo-console * {
    font-size: 1.8vh;
    font-family: "JetBrains Mono", monospace;
  }

  #logo-console *:nth-child(1) {
    margin-right: 0.5vw;
    color: var(--s2);
  }

  #logo-console *:nth-child(2) {
    color: var(--s1);
  }

  #logo-console *:nth-child(3) {
    margin-right: 0.5vw;
    color: var(--s3);
  }

  nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1vw;
    max-height: 100%;
  }

  nav>button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    border: none;
    border-radius: 2vh;
    background: transparent;
    padding: 1vh 1vw;
  }

  nav>search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.1vh solid var(--text);
    border-radius: 2vh;
    padding: 0.5vh 1vw;
  }

  nav>search * {
    border: none;
    font-size: 2vh;
  }

  nav>button * {
    font-size: 2vh;
  }
}
