/*THEME: Catppuccin Latte*/
@media (prefers-color-scheme: light) {
  :root {
    /* TODO */
    --base: #e7ecef;
    --text: #274c77;
    --accent-high: #a3cef1;
    --accent-low: #6096ba;
    --special: #8b8c89;
  }
}

/*THEME: Catppuccin Mocha*/
@media (prefers-color-scheme: dark) {
  :root {
    --base: #0e131f;
    --text: #8b939c;
    --accent-high: #59546c;
    --accent-low: #38405f;
    --special: #ff0035;
  }
}
