@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

:root {
  --base: #faf4ed;
  --surface: #fffaf3;
  --overlay: #f2e9e1;
  --muted: #9893a5;
  --subtle: #797593;
  --text: #575279;
  --love: #b4637a;
  --gold: #ea9d34;
  --rose: #d7827e;
  --pine: #286983;
  --foam: #56949f;
  --iris: #907aa9;
  --highlight-low: #f4ede8;
  --highlight-med: #dfdad9;
  --highlight-high: #cecacd;
  --shadow: #575279;
}

[theme="dark"] {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
  --highlight-low: #21202e;
  --highlight-med: #403d52;
  --highlight-high: #524f67;
  --shadow: #191724;
}

* {
  box-sizing: border-box;
  outline: none;
  color: var(--text);
  font-size: inherit;
  font-family: "Kode Mono", monospace;
}

*::-webkit-input-placeholder {
  color: var(--text);
  font-weight: 300;
}

*::-webkit-scrollbar {
  width: 0.7vw;
}

*::-webkit-scrollbar-track {
  background: var(--highlight-low);
}

*::-webkit-scrollbar-thumb {
  background: var(--highlight-high);
}

html,
body {
  margin: 0;
  background: linear-gradient(225deg, var(--base) 10%, var(--love) 200%);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

button {
  display: flex;
  flex-direction: row;
  border: none;
  background: none;

  &:hover {
    background: var(--overlay);

    * {
      color: var(--foam) !important;
    }

    .cursor {
      animation: blink-animation 1s steps(2, start) infinite;
      background: var(--text);
    }
  }
}

@media only screen and (min-width: 600px) {
}
